<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>

<p>
  Server name is:  <%= env["SERVER_NAME"] %>
  <br><br>
  Server port is:  <%= env["SERVER_PORT"] %>
  <br><br>
  Path info is:  <%= env["PATH_INFO"] %>
  <br><br>
  Ruby version is:  <%= RUBY_VERSION %>
</p>
